extends ../layouts/main-layout.pug 

block head
  meta(name="description" , content="Find best hotel and room online with RoomS || Book now and get discount || We are the best web hotel searcher since 2008")
  meta(name="keywords", content="Book Hotel Online, Booking , Hotels, Rooms, Online book with discount")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
  title Search Room - Results
  
block body
  include ../components/header/header.pug
  main.search-main
    .container
      include ../components/inputs/inputs.pug
      .search-main__content
        .search-main__mobile-filter
          | Filter 
          i(class="material-icons") expand_more
        .search-main__left.filter
          .filter__dates
            .input-title Dates of stay
            input(type='text',class='datepicker-here',data-multiple-dates="2", placeholder='19 feb - 23 aug', readonly).input-field
            i(class="material-icons") expand_more
          include ../components/guests/guests.pug
          .filter__range
            .filter__range-titles
              .filter__range-name.txt-h3 Range price
              .filter__range-price 5 000Р - 10 000Р
            input(type="text", class="js-range-slider", name="my_range", value="",
              data-type="double",
              data-min="1000",
              data-step="1000",
              data-max="20000",
              data-from="5000",
              data-to="10000").filter__range-trigger
            .filter__range-text Cost per day in the room
          .filter__rules
            .filter__rules-title.txt-h3 Hotel rules
            .filter__rules-list 
              +checkBox({
                descr: 'Smoking allowed'
              })       
              +checkBox({
                descr: 'Pet allowed'
              }) 
              +checkBox({
                descr: 'Small party allowed(up to 10 people)'
              })                
          .filter__acces
            .filter__acces-title.txt-h3 Доступность
            .filter__acces-list
              +checkBox({
                title: 'Wide corridor',
                descr: 'The width of the corridors in the room is at least 91 cm.'
              }) 
              +checkBox({
                title: 'Disabled assistant',
                descr: 'A specialist will meet you on the 1st floor and walk you to your room.'
              }) 
          .filter__comfort
            .input-title.filter__comfort-title Room facilities
            .input-field 2 bedrooms, 2 beds
              i(class="material-icons") expand_more
          .filter__more
            .input-title.filter__more-title Additional facilities
              i(class="material-icons") expand_more
            .filter__more-dropdown
              +checkBox({descr: 'Breakfast'}) 
              +checkBox({descr: 'Writing desk'}) 
              +checkBox({descr: 'Baby feeding chair'}) 
              +checkBox({descr: 'Crib'}) 
              +checkBox({descr: 'TV'}) 
              +checkBox({descr: 'Shampoo'}) 
        .search-main__right.results
          .results__title Rooms, which we found for you
          include ../components/rooms/rooms.pug
          .pagination
            .pagination__btns
              a(href="").pagination__btns-active 1
              a(href="") 2
              a(href="") 3
              a(href="") ...
              a(href="") 15
              a(href="")  
                i(class="material-icons") arrow_forward
            .pagination__sub
              | 1 - 12 from 100+ rental options
  include ../components/footer/footer.pug
